<aside class="w-74 border-r border-base-300 min-h-screen flex flex-col bg-base-100 lg:bg-base-200">
  <div class="text-2xl text-center pt-4">BlazeDoc</div>
  <div class="p-4 flex flex-col flex-1">
    <ul class="menu w-full">
      <li>
        <a routerLink="/dashboard" routerLinkActive="menu-active">
          <i class="ri-dashboard-line"></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/documents" routerLinkActive="menu-active">
          <i class="ri-folder-line"></i> Documents
        </a>
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="menu-active">
          <i class="ri-settings-3-line"></i> Settings
        </a>
      </li>
    </ul>
    <div class="flex-1"></div>
    <button class="btn w-full" (click)="logout()">Logout</button>
  </div>
</aside>
