<div class="drawer lg:drawer-open bg-base-200">
  <input id="drawer" type="checkbox" class="drawer-toggle" [(ngModel)]="drawerOpen" />
  <main class="drawer-content bg-base-100">
    <div class="h-14 px-4 border-b border-base-300 flex items-center">
      <label for="drawer" class="btn btn-circle btn-ghost mr-2 flex lg:hidden">
        <i class="ri-side-bar-line text-lg"></i>
      </label>
      <div class="text-xl">{{ title() }}</div>
    </div>
    <router-outlet />
  </main>
  <div class="drawer-side z-40">
    <label for="drawer" class="drawer-overlay" aria-label="Close menu"></label>
    <sidebar />
  </div>
</div>
