<div class="flex items-center justify-center w-screen h-screen px-4">
  <form [formGroup]="form" class="w-full max-w-lg" (ngSubmit)="signIn()">
    <div class="text-3xl text-center mb-6">Sign in</div>
    @if (error()) {
    <app-alert type="error" class="my-6">Incorrect email or password.</app-alert>
    }
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Email</legend>
      <input
        type="email"
        name="email"
        autocomplete="on"
        class="input w-full"
        placeholder="name@domain.com"
        formControlName="email"
        markOnError
      />
      <div *inputError="let error; from: 'email'" class="text-error">
        @switch (error) { @case ('required') { Email is required } @case ('email') { Enter valid
        email address } }
      </div>
    </fieldset>
    <fieldset class="fieldset">
      <legend class="fieldset-legend flex content-between w-full">
        <span>Password</span>
        <a class="text-blue-500" [routerLink]="['..', 'password-reset']">Forgot password?</a>
      </legend>
      <input
        type="password"
        name="password"
        class="input w-full"
        placeholder="Password"
        formControlName="password"
        markOnError
      />
      <div *inputError="let error; from: 'password'" class="text-error">Password is required</div>
    </fieldset>
    <button class="btn w-full mt-6">Sign in</button>
    <div class="pt-4 flex gap-4 justify-center">
      <span>New to Blaze?</span>
      <a class="text-blue-500" [routerLink]="['..', 'register']">Create an account</a>
    </div>
  </form>
</div>
